
.selfie {
    text-align: center;
    width: 200px;
    height: 220px; 
    border-radius: 50%;
    margin-top: 20px;
}

.btn a {
    font-family: 'Aboreto', cursive;
    text-align: center;
    font-size: 15px;
}

@media (max-width: 810px) {
    .selfie {
        margin-top: -90px;
    }
}