
.selfie {
    text-align: center;
    width: 200px;
    height: 220px; 
    border-radius: 50%;
    margin: 20px;
}

 .btn {
    text-align: center;
}

@media (max-width: 799px) {
    .selfie {
        margin: 1px;
    }
    .toggle:hover {
        background-color: black;
    }
}