button {
    color: black;
    width: 120px;
    height: 40px;
    background-color: white;
    border-style: solid; 
    border-color: #AAB2B5;
    margin: 5px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}