button {
    color: black;
    width: 140px;
    height: 40px;
    background-color: white;
    border-style: solid; 
    border-color: #AAB2B5;
    text-decoration-skip:round($number: 9)
}

a {
    text-decoration: none;
    padding: 15px;
    margin: 15px;
}

img {
    margin: 5px;
    height: 100%;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
}