//@font-face {
//    font-family: "Raleway";
//    src: url("../Raleway/Raleway-Light.ttf");
//  }

//@media (min-width: 40em) {
//    body {
//        grid-template-columns: 12em 1fr;;
 //   }
// }

body {
    display: grid;
    // grid-template-columns: repeat(2, fit-content(12em) fit-content(10em));
    grid-gap: 1em;
    grid-template-areas:
    "header aside"
    "main aside"
    "main aside";
}

header {
    grid-area: header;
    background-color: #8ca0ff;
  }
  
aside {
    grid-area: aside;
    max-width: 300px;
}

main {
    grid-area: main;
  }

main {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(8, 8vw);
    grid-gap: 1em;
}

article {
    display: grid;
    grid-column: span 4;
    flex-wrap: wrap;
}
.card {
    padding: 20px;
}

