
.article-singelpost {
    grid-column: span 8;
    padding: 20px;
    text-align: center;
}

.blogsection {
    padding: 20px;
    width: 100%;
    height: 100%;
    
}

.singelpostbutton a {
    font-family: 'Aboreto', cursive;
    font-size: 15px;
    padding: 20px;
}
