
.containerpost {
    display: flex;
    padding: 20px;
 }

 .postimg {
    width: 600px;
    height: 600px;
 }

.singelpostbutton a {
    font-family: 'Aboreto', cursive;
    font-size: 15px;
    padding: 20px;
}

button .singelpostbutton {
    text-align: center;
}