// font-family: 'Reenie Beanie', cursive;
// font-family: 'Qwigley', cursive;
// font-family: 'Give You Glory', cursive;
// font-family: 'Aboreto', cursive;
// font-family: 'WindSong', cursive;

// BANNER TEXT // 

.huldrablog {
    font-family: 'WindSong', cursive;
    font-size: 40px;
    position: relative;
    top: -120px;
    left: 640px;
}

.every {
    font-family: 'Aboreto', cursive;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    top: -560px;
    left: 670px;
    margin: 11px;
}

.picture {
    font-family: 'Aboreto', cursive;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    top: -560px;
    left: 670px;
    margin: 11px;
}

.hasa {
    font-family: 'Aboreto', cursive;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    top: -560px;
    left: 670px;
    margin: 11px;
}

.story {
    font-family: 'Aboreto', cursive;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    top: -560px;
    left: 670px;
    margin: 11px;
}

h1 {
    font-family: 'WindSong', cursive;
    font-weight: 400;
    font-size: 30px;
    margin-top: 12px;
    padding-left: 35px;
}

h2 {
    font-family: 'Give You Glory', cursive;
    font-size: 22px;
    font-weight: 400;
    margin: 10px;
}

h3 {
    padding: 10px;
    font-family: 'Aboreto', cursive;
    font-weight: 400;
    font-size: 20px;
}

h3 a {
    font-family: 'Aboreto', cursive;
    font-size: 20px;
}

h4 {
    font-family: 'Give You Glory', cursive;
    font-size: 20px;
    padding-left: 20px;   
}

h5 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

p {
    font-family: 'Reenie Beanie', cursive;
    font-size: 22px;
    margin: 10px;
}