// font-family: 'Reenie Beanie', cursive;
// font-family: 'Qwigley', cursive;
// font-family: 'Give You Glory', cursive;
// font-family: 'Aboreto', cursive;
// font-family: 'WindSong', cursive;

h1 {
    font-family: 'WindSong', cursive;
    font-weight: 400;
    font-size: 34px;
    margin-top: 1em;
    padding-left: 20px;
}

h2 {
    font-family: 'Give You Glory', cursive;
    font-weight: 400;
    margin: 10px;
}

h3 {
    font-family: 'Aboreto', cursive;
    font-weight: 400;
    margin: 10px;
}

p {
    font-family: 'Reenie Beanie', cursive;
    font-size: 22px;
}